.task-page {
    position: fixed;
    z-index: 9;
}

.task-page-background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 9;
}

.task-page-wrapper {
    position: relative;
    width: 80vw;
    height: 80vh;
    background-color: white;
    margin: auto 10vw;
    z-index: 99;
}

.modal-block {
    display: flex;
}

.modal-line {
    display: flex;
    align-items: center;
    margin: 5px;
    width: fit-content;
}

.modal-line span {
    margin-left: 5px;
}

.material-icons {
    font-size: 18px;
}

.modal-options {
    display: grid;
}